@model AsyncApiCallDemoModel
@{
    ViewData["Title"] = "Concurrent Api Call Demo";
}
<div style="flex-grow">
    <button id="buttonAsync" type="button" onclick='sendServerRequest("GetApiCallConcurrent")'>Click for async</button>
    @* <button id="buttonOptimized" type="button" onclick='sendServerRequest("GetApiCallConcurrentOptimized")'>Click for optimized</button>
    <button id="buttonOptimizedException" type="button" onclick='sendServerRequest("GetApiCallConcurrentOptimizedException")'>Click for optimized with exception</button> *@
    <button id="buttonOptimizedAll" type="button" onclick='sendServerRequest("GetApiCallConcurrentOptimizedAll")'>Click for optimized All</button>
</div>
<div id="overlay">
  <div class="cv-spinner">
    <span class="spinner"></span>
  </div>
</div>
<div id="errorMessageDiv"></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div id="GetApiCallConcurrent"></div>
        </div>
        <div class="col-sm">
            <div id="GetApiCallConcurrentOptimized"></div>
        </div>
        <div class="col-sm">
            <div id="GetApiCallConcurrentOptimizedException"></div>
        </div>
        <div class="col-sm">
            <div id="GetApiCallConcurrentOptimizedAll"></div>
        </div>
    </div>
</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script>

        var tableHtml="";        
        var MethodName="";
        function fillTable(value){
            var result ="";                    
            result+="<tr><td>"+value+"</td><tr>";
            tableHtml += result;
        }

        function fnFillTable(method, tableHtml) {
                $("#" + method).html(tableHtml);
            }

        function sendServerRequest(method) {
            MethodName = method;
            var information = {};
            information.name = method;
            var stringData = JSON.stringify(information);
            tableHtml = "";
            tableHtml += "<table><thead><tr><th>Output Message</th></tr></thead><tbody>";
            $.ajax({
                data: stringData,
                type: "POST",
                url: '@Url.Action("GetApiCallConcurrentOptimizedAll", "AsyncDemo")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    console.log(data);
                    data.outputMessages.forEach(fillTable);
                    tableHtml += "</tbody></table>";
                    fnFillTable(MethodName, tableHtml);
                },
                error: function (error) {

                    console.log(error);

                    tableHtml = "error.responseText: " + error.responseText;
                    $("#errorMessageDiv").html(tableHtml);
                    $("#overlay").fadeOut(100);
                }
            }).done(function () {
                        setTimeout(
                                    function () {
                                        $("#overlay").fadeOut(100);
                                    }, 5000);
            });
                
        }    

        jQuery(function ($) {
            $(document).ajaxSend(function () {$("#overlay").fadeIn(300);});
        });                       
                   
    </script>
}