@using AsyncWebAppDemo.Repositories
@model List<Project>

@foreach (var cust in Model)
{
    <tr>
        <td>@cust.ID</td>
        <td>@cust.Name</td>
        <td>@cust.ManagerName</td>
        <td>@cust.Email</td>
    </tr>
} 